@charset "utf-8";
@import url('common.css');


/* header */
header {
    height: 100px;
}

header .inner {
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .inner h1 a img {
    width: 238px;
}

header .inner .pc ul {
    display: inline-block;
}

header .inner .pc ul.user {
    margin-left: 50px;
}

header .inner .pc ul.user li:first-child {
    margin-right: 20px;
}

header .inner .pc ul.user li a img {
    width: 16px;
}

header .inner .pc ul li {
    display: inline-block;
    font-size: 16px;
    font-family: 'Nanum Myeongjo';
    font-weight: 400;
}

header .inner .pc ul.gnb li {
    margin-left: 40px;
}

/* main_visual */
.main_visual {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    /* 폰트: 나눔명조 */
    font-family: 'Nanum Myeongjo';
    font-weight: 400;
}

.main_visual figure:first-child {
    width: 55.88%;
}

.main_visual figure:first-child img {
    width: 100%;
}

.main_visual figure:first-child p {
    text-align: right;
    margin-right: 35.41%;
    /* 380 /1073 * 100 */
}

.main_visual figure:last-child {
    width: calc(100% - 55.88% - 232px);
}

.main_visual figure:last-child img {
    width: 100%;
}

/* main_visual02 */
.vie .inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.vie .inner>div {
    width: calc(100% / 3 - 12.5px);
    position: relative;
    margin-bottom: 25px;
}

.vie .inner>div.title {
    background: url('../img/vie_text_img.jpg') center center/ cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.vie .inner>div.title p {
    font-size: 16px;
    line-height: 1.5;
    padding: 0 2rem;
}

.vie .inner>div a figure img {
    width: 100%;
}

.vie .inner>div div {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    text-align: center;
    font-size: 16px;
    display: none;
}

.vie .inner>div div h4 {
    font-weight: 400;
    margin-bottom: 10px;
}

.vie .inner>div:nth-of-type(2) {
    order: -1;
}

.vie .inner .item a::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #ffffffc0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.vie .inner>div.item:hover div {
    display: block;
}

.vie .inner>div.item:hover a::before {
    display: block;
}

/* editor */
.editor .inner .list {
    display: flex;
    justify-content: space-between;
}

.editor .inner .list figure,
.editor .inner .list .list_text {
    width: calc(100% / 2 - 12.5px);
    max-height: 670px;
}

.editor .inner .list figure img {
    width: 100%;
}

.editor .inner .list .list_text>div {
    height: 33.33%;
    border-bottom: 1px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
}

.editor .inner .list .list_text>div:nth-of-type(1) {
    border-top: 1px solid #333;
}

.editor .inner .list .list_text>div div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editor .inner .list .list_text>div div h4 {
    font-size: 2rem;
    font-family: 'Nanum Myeongjo';
    font-weight: 400;
    border-bottom: 1px solid transparent;
}

.editor .inner .list .list_text>div div h4.on {
    border-bottom: 1px solid #000;
}

.editor .inner .list .list_text>div div a {
    font-size: 14px;
    font-family: 'Nanum Myeongjo';
    font-weight: 400;
    position: relative;
    padding-right: 10px;
}

.editor .inner .list .list_text>div div a::before {
    content: '';
    width: 6px;
    height: 10px;
    background-image: url('../img/next_icon.png');
    background-size: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.editor .inner .list .list_text p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 2rem;
    word-break: keep-all;
    font-family: 'Pretendard-Regular';
    font-weight: 400;
}

/* best */
.best {
    background-color: #eeede9;
    padding: 18rem 0;
}

.best .inner {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.best .inner .left {
    width: 32.13%;
    /* 437px / 1360px * 100 */
    position: relative;
    margin-top: 5rem;
}

.best .inner .left .best_menu li {
    font-size: 14px;
    color: #888;
    display: inline-block;
    padding: 0 5px;
    margin-right: 20px;
    margin-bottom: 3rem;
}

.best .inner .left .best_menu li.on {
    color: #333;
    border-bottom: 1px solid #333;
}

.best .swiper-button-next {
    width: 30px;
    height: 30px;
    background: url('../img/arrow-right.png') center center / 100% no-repeat;
    left: 40px;
    top: 275px;
    margin-top: 0;
}

.best .swiper-button-prev {
    width: 30px;
    height: 30px;
    background: url('../img/arrow-left.png') center center / 100% no-repeat;
    left: 0;
    top: 275px;
    margin-top: 0;
}

.best .swiper-button-next:after,
.best .swiper-rtl .swiper-button-prev:after {
    display: none;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    display: none;
}

.best .inner .best_slide_cont {
    width: 66.10%
        /* 899px / 1360 * 100 */
}

.best .inner .best_slide_cont .mySwiper {
    display: none;
}

.best .inner .best_slide_cont .mySwiper.on {
    display: block;
}

.best .inner .best_slide_cont figure {
    max-height: 442px;
    height: 32.5vw;
    /* 442 / 1360 * 100 => vw */
}

.best .inner .best_slide_cont figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #333;
}

.best .inner .best_slide_cont .info>p {
    font-size: 14px;
    margin: 25px 0 7px;
    color: #555;
}

.best .inner .best_slide_cont .info h4 {
    font-size: 16px;
    line-height: 1.5;
    border-bottom: 1px solid #333;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.best .inner .best_slide_cont .info>div {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.best .inner .best_slide_cont .info>div p {
    text-decoration: line-through;
    color: #555555;
}

.best .inner .best_slide_cont .info>div strong span {
    color: #995727;
    margin-left: 25px;
}

/* brand */
.brand .inner .list {
    display: flex;
    justify-content: space-between;
}

.brand .inner .list>div {
    width: calc(100% / 2 - 12.5px);
    max-height: 877px;
}

.brand .inner .list>div.list_item {
    position: relative;
}

.brand .inner .list>div.list_item figure {
    height: 100%;
}

.brand .inner .list>div.list_item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brand .inner .list>div.list_item div {
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.brand .inner .list>div.list_item div h4 {
    font-size: 2rem;
    font-family: 'Nanum Myeongjo';
}

.brand .inner .list>div.list_item div p {
    font-size: 16px;
    margin: 10px 0 40px;
    line-height: 1.5;
}

.brand .inner .list>div.list_item div a {
    font-size: 14px;
    font-family: 'Nanum Myeongjo';
    position: relative;
}

.brand .inner .list>div.list_item div a::before {
    content: '';
    width: 6px;
    height: 10px;
    background: url('../img/next_icon.png') center center / 100% no-repeat;
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
}

.brand .inner .list>div.right_list {
    max-height: 877px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}

.brand .inner .list>div.right_list .item {
    width: calc(100% / 2 - 12.5px);
}

.brand .inner .list>div.right_list .item figure img {
    width: 100%;
}

.brand .inner .list>div.right_list .item div h4 {
    font-size: 2rem;
    margin: 25px 0 10px;
    font-family: 'Nanum Myeongjo';
}

.brand .inner .list>div.right_list .item div p {
    font-size: 16px;
    line-height: 1.5;
}

/* archive */
.archive {
    height: 580px;
    position: relative;
}

.archive img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.archive .inner {
    height: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.archive .inner div {
    width: 552px;
    height: 100%;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.596);
    color: white;
}

.archive .inner div h3 {
    font-size: 2.8rem;
    font-family: 'Nanum Myeongjo';
    font-weight: 400;
}

.archive .inner div h4 {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 30px;
}

.archive .inner div p {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0 50px;
}

.archive .inner div a {
    font-size: 14px;
    font-family: 'Nanum Myeongjo';
    font-weight: 400;
    position: relative;
}

.archive .inner div a::before {
    content: '';
    width: 6px;
    height: 10px;
    background: url('../img/ico_next.png') center center / 100% no-repeat;
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
}

/* insta */
.insta {
    display: flex;
    justify-content: flex-end;
}

.insta .inner {
    max-width: 1655px;
    width: calc(100% - 20px);
    margin: 18rem 0;
    display: flex;
    justify-content: space-between;
}

.insta .inner .left {
    width: 26.40%;
    /* 437 / 1655 * 100 */
    position: relative;
}

.insta .inner .left h3 {
    font-size: 2.8rem;
}

.insta .inner .left p {
    font-size: 16px;
}

.insta .inner .insta_slide_list {
    width: calc(100% - 26.40% - 12.5px);
}

.insta .inner .insta_slide_list figure img {
    width: 100%;
}

.insta .inner .insta_slide_list div h4 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
}

.insta .inner .insta_slide_list div p {
    font-size: 16px;
    margin: 10px 0;
    line-height: 1.5;
}

.insta .inner .insta_slide_list div ul {
    display: flex;
    align-items: center;
}

.insta .inner .insta_slide_list div ul li {
    font-size: 14px;
}

.insta .inner .insta_slide_list div ul li img {
    width: 48px;
    margin-right: 10px;
}

.insta .swiper-insta-next {
    width: 30px;
    height: 30px;
    background: url('../img/arrow-right.png') center center / 100% no-repeat;
    position: absolute;
    top: 130px;
    left: 40px;
}

.insta .swiper-insta-prev {
    width: 30px;
    height: 30px;
    background: url('../img/arrow-left.png') center center / 100% no-repeat;
    position: absolute;
    top: 130px;
    left: 0;
}

@media screen and (max-width:1024px) {

    html,
    body {
        font-size: 50%;
        /* 8px 기준*/
    }

    header {
        height: 70px;
    }

    header .m_nav {
        display: none;
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        font-size: 25px;
        text-align: center;
        padding: 10rem;
    }

    header .close img {
        width: 30px;
    }

    header .open img {
        width: 25px;
    }

    header .m_nav .gnb li {
        padding: 15px 0;
    }

    /* icon */
    header .m_nav .user {
        border-top: 1px solid #888;
        margin-top: 50px;
        padding-top: 50px;
    }

    header .m_nav .user li {
        display: inline-block;
    }

    header .m_nav .user li img {
        width: 20px;
    }

    /* main_visual */
    .main_visual figure:first-child {
        /* 627px / 1024 * 100 */
        width: 61.23%;
    }

    .main_visual figure:last-child {
        width: calc(100% - 61.23% - 20px);

    }

    .main_visual figure:first-child p {
        margin: 0;
    }

    /* vie */
    .vie .inner>div div {
        display: block;
        position: static;
    }

    .vie .inner>div div h4 {
        margin: 15px 0 7px;
    }

    /* editor */
    .editor .inner .list figure,
    .editor .inner .list .list_text {
        height: 530px;
    }

    .editor .inner .list figure img {
        height: 100%;
        object-fit: cover;
    }

    /* brand */
    .brand .inner .list {
        display: block;
    }

    .brand .inner .list>div {
        width: 100%;
    }

    .brand .inner .list>div.list_item {
        height: 438px;
        margin-bottom: 20px;
    }

    .brand .inner .list>div.right_list {
        max-height: none;
    }

    .brand .inner .list>div.right_list .item {
        width: calc(100% / 2 - 10px);
        margin-bottom: 40px;
    }

    .brand .inner .list>div.right_list .item figure {
        max-height: 280px;
        height: 29.16vw;
        /* 280 / 960 * 100 */
    }

    .brand .inner .list>div.right_list .item figure img {
        height: 100%;
        object-fit: cover;
    }

    .brand .inner .list>div.right_list .item div p br {
        display: none;

    }

    /* insta */
    .insta .inner {
        display: block;
    }

    .insta .inner .left {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .insta .inner .left h3 {
        margin: 0;
        margin-right: 15px;
    }

    .insta .swiper-insta-next {
        position: absolute;
        left: auto;
        right: 0;
        top: 0;
    }

    .insta .swiper-insta-prev {
        position: absolute;
        left: auto;
        right: 40px;
        top: 0;
    }

    .insta .inner .insta_slide_list {
        width: 100%;
        margin-top: 20px;
    }
}

/* 1024 */
@media screen and (max-width:800px) {
    /* .editor */
    .editor .inner .list {
        display: block;
    }

    .editor .inner .list figure,
    .editor .inner .list .list_text {
        width: 100%;
    }

    .editor .inner .list figure {
        height: 334px;
    }

    .editor .inner .list .list_text {
        height: auto;
    }

    .editor .inner .list .list_text>div {
        height: auto;
        padding: 25px 0;
    }
}

/* 800 */
@media screen and (max-width:600px) {
    html,
    body {
        font-size: 37.5%;
        /* 6px */
    }

    .main_visual {
        font-size: 16px;
    }

    .main_visual figure:first-child {
        width: 100%;
        height: 500px;
    }

    .main_visual figure:last-child {
        display: none;
    }

    .main_visual figure:first-child img {
        height: 100%;
        object-fit: cover;
    }

    .main_visual figure:first-child p {
        text-align: center;
        margin-top: 15px;
    }

    .vie .inner>div {
        width: calc(100% / 2 - 7.5px);
    }

    .vie .inner>div.title {
        width: 100%;
        padding: 47px 0;
    }

    .vie .inner>div:nth-of-type(2) {
        order: 0;
    }

    .vie .inner>div:last-of-type {
        display: none;
    }

    .editor .inner .list .list_text>div div h4 {
        font-size: 16px;
    }

    .editor .inner .list .list_text p {
        font-size: 14px;
    }

    .best .inner {
        display: block;
    }

    .best .inner .left {
        width: 100%;
    }

    .best .inner .best_slide_cont {
        width: 100%;
    }

    .best .swiper-button-prev {
        position: static;
    }

    .best .swiper-button-next {
        position: static;
        order: 2;
        margin-left: 10px;
    }

    .best .inner .left {
        display: flex;
        flex-wrap: wrap;
    }

    .best .inner .left div {
        display: inline-block;
    }

    .best .inner .best_slide_cont figure {
        height: 297px;
    }

    .best .inner .best_slide_cont {
        margin-top: 20px;
    }

    /* .brand */
    .brand .inner .list>div.list_item {
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .brand .inner .list>div.list_item div {
        position: static;
        width: calc(100% / 2 - 7.5px);
    }

    .brand .inner .list>div.list_item figure {
        width: calc(100% / 2 - 7.5px);
        height: auto;
    }

    /* .archive */
    .archive {
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .archive .inner {
        width: 100%;
        background-color: #995727;
        position: static;
        transform: translateX(0);
        order: -1;
    }

    .archive .inner div {
        width: 100%;
        padding: 30px 20px 60px;
        background-color: transparent;
    }

    .archive img {
        width: calc(100% - 40px);
        height: 250px;
        margin: 0 auto;
        margin-top: -50px;
        position: relative;
        z-index: 99;
    }
}

/* 600 */
@media screen and (max-width:380px) {

    /* brand */
    .brand .inner .list>div.list_item {
        display: block;
    }

    .brand .inner .list>div.list_item figure {
        width: 100%;
        height: 300px;
    }

    .brand .inner .list>div.list_item div {
        width: 100%;
        margin-bottom: 40px;
    }

    .brand .inner .list>div.list_item div h4 {
        margin: 25px 0 10px;
    }

    .brand .inner .list>div.list_item div p {
        margin: 10px 0;
    }

    .brand .inner .list>div.list_item div p br {
        display: none;
    }
}

/* 380 */

/* footer pc */
footer .f_top {
    border-top: 1px solid #838383;
    border-bottom: 1px solid #838383;
}

footer .f_top .top_menu {
    max-width: 1360px;
    width: calc(100% - 40px);
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
}

footer .f_top .top_menu ul li {
    display: inline-block;
    margin-right: 30px;
}

footer .f_top .top_menu div {
    color: #995727;
}

footer .f_top .top_menu div strong {
    margin-left: 30px;
}

footer .f_top .top_menu div strong span {
    margin-left: 10px;
    font-weight: 400;
}

footer .inner {
    margin: 5rem auto;
}

footer .inner .f_info {
    display: flex;
    margin-bottom: 5rem;
}

footer .inner .f_info ul {
    width: 33.33%;
    font-size: 14px;
}

footer .inner .f_info ul:nth-child(2) {
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
    padding: 0 7.27%;
    margin-right: 7.27%;
}

footer .inner .f_info ul li {
    line-height: 1.8;
}

footer .inner .f_info ul li:first-child {
    margin-bottom: 2rem;
}

footer .inner p {
    font-size: 14px;
    color: #838383;
    margin-top: 10px;
}

@media all and (max-width:1240px) {
    footer .f_top {
        border-bottom: 0;
        position: relative;
    }

    footer .f_top::before {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #838383;
        position: absolute;
        left: 0;
        top: 60px;
    }

    footer .f_top .top_menu {
        display: block;
        height: auto;
    }

    footer .f_top .top_menu ul {
        line-height: 60px;
    }

    footer .f_top .top_menu div {
        margin-top: 20px;
    }
}

@media all and (max-width:1024px) {
    html,
    body {
        font-size: 50%;
    }

    footer .inner .f_info {
        flex-wrap: wrap;
    }

    footer .inner .f_info ul {
        width: 50%;
    }

    footer .inner .f_info ul:first-child {
        width: 100%;
        margin-bottom: 40px;
    }

    footer .inner .f_info ul:nth-child(2) {
        padding-left: 0;
        border-left: 0;
        margin-right: 0;
    }

    footer .inner .f_info ul:nth-child(3) {
        padding-left: 7.27%;
    }
}

@media all and (max-width:760px) {
    footer .f_top .top_menu {
        font-size: 13px;
    }

    /* 멤버쉽라인 정렬 */
    footer .f_top .top_menu ul {
        height: 82px;
        line-height: 1.8;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    footer .f_top::before {
        top: 82px;
    }

    footer .f_top .top_menu div {
        display: flex;
    }

    footer .f_top .top_menu div strong span {
        display: block;
        margin-left: 0;
    }

    footer .inner .f_info ul {
        width: 100%;
        font-size: 12px;
    }

    footer .inner .f_info ul:first-child {
        margin-bottom: 25px;
    }

    footer .inner .f_info ul li:first-child {
        margin-bottom: 10px;
    }

    footer .inner .f_info ul:nth-child(2) {
        border-right: 0;
    }

    footer .inner .f_info ul:nth-child(3) {
        padding-left: 0;
        margin-top: 25px;
    }

    footer .inner p {
        font-size: 12px;
        line-height: 1.5;
    }
}